body {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

.text-muted {
	color:#7d97ad;
}

.section-title {
	font-size: 3em;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.title-logo-image {
	max-width: 115px;
}

.title-tagline {
	margin-top: 0px;
}

.project-title {
	font-size: 2.5em;
}

.project-image {
  -moz-box-shadow:    2px 3px 7px 6px #ccc;
  -webkit-box-shadow: 2px 3px 7px 6px #ccc;
  box-shadow:         2px 3px 7px 6px #ccc;
}

/*following hr code is from http://stackoverflow.com/questions/4151743/how-i-change-the-thickness-of-my-hr-tag */
hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #7d97ad; /* old IE */
    background-color: #7d97ad; /* Modern Browsers */
}